.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(119, 161, 1);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 1);
    visibility: hidden;
    opacity: 0;

}

.formulario h1 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    align-self: center;
    right: 20px;
}

.formulario h3 {
    text-align: center;
    margin: 0px;
}

.formulario input {
    margin-bottom: 10px;
    width: 50%;
    border-radius: 5px;
}

.formulario textarea {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#data {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50%;
    height: 50px;

}

#texto-diag {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.formulario.show {
    visibility: visible;
    opacity: 1;
}

.btn-fechar {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-confirmar {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#texto-diag {
    height: 10px;
    visibility: hidden;
}

.caixa-diag {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(119, 161, 1);
    visibility: hidden;
    opacity: 0;
}

.caixa-diag p {
    position: absolute;
}

.caixa-diag.show {
    visibility: visible;
    opacity: 1;
}

.btn-sim {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-nao {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: none;
    border: none;
    cursor: pointer;
}